[submodule "piton/design/chipset/rv64_platform/bootrom/u-boot/uboot"]
	path = piton/design/chipset/rv64_platform/bootrom/u-boot/uboot
	url = https://github.com/u-boot/u-boot.git
[submodule "piton/design/chip/tile/sargantana"]
	path = piton/design/chip/tile/sargantana
	url = ../../core-tile/sargantana_tile.git
	branch = ft/openpiton-hwdesign
[submodule "piton/design/common/pulp-platform/axi"]
	path = piton/design/common/pulp-platform/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "piton/design/common/pulp-platform/common_cells"]
	path = piton/design/common/pulp-platform/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "piton/design/common/axi_utils"]
	path = piton/design/common/axi_utils
	url = ../axi_utils.git
[submodule "piton/design/chipset/bsc_rv64_peripherals"]
	path = piton/design/chipset/bsc_rv64_peripherals
	url = ../bsc_rv64_peripherals.git
	branch = main
[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = ../../cores/cva6.git
