[submodule "piton/design/chipset/rv64_platform/bootrom/u-boot/uboot"]
	path = piton/design/chipset/rv64_platform/bootrom/u-boot/uboot
	url = https://github.com/u-boot/u-boot.git
[submodule "piton/design/chip/tile/sargantana"]
	path = piton/design/chip/tile/sargantana
	url = ../core_tile.git
[submodule "piton/design/common/pulp-platform/axi"]
	path = piton/design/common/pulp-platform/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "piton/design/common/pulp-platform/common_cells"]
	path = piton/design/common/pulp-platform/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "piton/design/common/axi_utils"]
	path = piton/design/common/axi_utils
	url = ../axi_utils.git
[submodule "piton/design/chipset/bsc_rv64_peripherals"]
	path = piton/design/chipset/bsc_rv64_peripherals
	url = ../bsc_rv64_peripherals.git
[submodule "piton/design/chipset/io_ctrl/xilinx/common/ip_cores/eth_cmac_syst"]
	path = piton/design/chipset/io_ctrl/xilinx/common/ip_cores/eth_cmac_syst
	url = https://github.com/bsc-loca/100gb-ethernet
[submodule "piton/design/chip/ProNoC"]
	path = piton/design/chip/ProNoC
	url = ../ProNoC.git
[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = ../cva6.git
